.ganttChartContainer {
  overflow: hidden;
  cursor: grab;
  width: 100%;
}

.ganttChartContainer:active {
  cursor: grabbing;
}

.ganttChart {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.header,
.row {
  display: flex;
  flex-direction: row;
}

.cell {
  padding: 5px;
  border: 1px solid #ececec;
  min-width: 150px;
  text-align: left;
  background: white;
  z-index: 1;
}

.dateCell {
  padding: 5px;
  border-left: 1px solid #ececec;
  min-width: 150px;
  position: relative;
}

.bar {
  background-color: #4caf50;
  height: 20px;
  width: calc(100% * var(--duration));
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  border-radius: 4px;
}


.stickyColumn {
  position: sticky;
  left: 0;
  background: white;
  z-index: 3;
}

.stickyRow {
  position: sticky;
  top: 0;
  background: white;
  z-index: 3;
  border: 1px solid #ececec;
}

.noSelect {
  user-select: none;
}
