.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.dashboard-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-main {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}
