.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100vw; /* Полная ширина экрана */
}

.dashboard-main-content {
  flex: 1; /* Растягиваем основной контент */
  display: flex;
  flex-direction: column;
}

.admin-header {
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 32px;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-main {
  flex: 1;
  overflow-y: auto; /* Прокрутка основного контента */
  padding: 20px;
  box-sizing: border-box;
}
